<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div id="particles-js"></div>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            {% include navbar.html %}
        </nav>

        <nav class="container mt-3 mb-3">
            <ul class="page-command">
                <li>#</li>
                {% if page.command != nil %}
                    <li>{{ page.command }}</li>
                    {% if page.collection != nil %}<li><a href="{{ site.url }}/{{ page.collection }}">{{ page.collection }} /</a></li>{% endif %}
                    <li>{% assign page_name = page.id | split: "/" | last %}{% if page_name == nil %}{% assign page_name = page.name %}{% endif %}<a href="{{ page.url | relative_url }}">{{ page_name | split: "." | first }}</a></li>
                {% else %}
                    <li>cat </li>
                    <li>
                        {% if page.collection != nil %}
                        <a href="{{ site.url }}/{{ page.collection }}">{{ page.collection }}/</a>
                        {% endif %}
                        {% assign page_name = page.id | split: "/" | last %}
                        {% if page_name == nil %}
                            {% assign page_name = page.name %}
                        {% endif %}
                        <a href="{{ page.url | relative_url }}">{{ page_name | split: "." | first }}.html</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <div class="title container">
            <h1>
                {% if page.title == "home" %}
                    {{ site.title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            </h1>

            {% assign date_format = site.darkhack.date_format | default: "%x" %}
            <small>Updated on {{ page.date | default: site.time | date: date_format }}</small>
        </div>
        
        <!-- Main Content -->
        <div class="container content-wrapper">
            {{ content }}
        </div>

    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>